.data-flex-container {
  display: flex;
  flex-wrap: wrap;

}
.center-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
.data-box {
  padding: 1rem 1rem 1rem;
  border-radius: 0.5rem;
  margin: 3rem;
  min-width: 2rem;
  width: 60rem;
  height: 60rem;
  background-color: #a9cce3;
  border-bottom: solid 4px  #2874a6 ;
  float: left;
}
.data-item {
  text-align: center;
  padding: 1rem 1rem 1rem;
  margin: 0.5rem;
  min-width: 10rem;
  width: 16rem;
  height: 2rem;
  border-bottom: solid 4px  #2874a6 ;
  float: left;
    color: #34495e;
}
